<p id="notice"><%= notice %></p>

<h3>Stocks</h3>

<% if @stocks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Value</th>
        <th>Trend</th>
        <th>Remove</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody id="stocks-table">
      <%= render 'table' %>
    </tbody>
  </table>
<% else %>
  <p>Create Stocks!</p>
<% end %>

<br>

<h3>Stock</h3>

<% if @stocks.count < 5 %>
  <%= render 'form', stock: Stock.new %>
<% else %>
  <p>Too many Stocks!</p>
<% end %>
